
.about-me{
    height:650px;
    width:100%;
    display: flex;
}

.picture-me{
    display: flex;
    flex:1.3;
    width:100%;
    justify-content: space-around;
    align-items: center;
}

.picture{
    width: 60%;
    height: 300px;
    object-fit:contain;
    object-position: center;
    border-width: 5px;
    border-radius: 50px;
    border-color: rgb(254, 3, 3);
    border-style:double;
    box-shadow: 0px 0px 20px rgba(240, 76, 76, 0.997);
 

}
.picture:hover{
    box-shadow: 0px 0px 20px rgba(10, 35, 227, 0.997);
    border-color: rgb(10, 35, 227);
    transition: box-shadow 0.3s,border-color 0.3s
  }
  

.text{
    flex:3;
    font-size: 1rem;
    margin: 35px 20px 0px 0px;
    padding:0px 0px 0px 0px;
    text-align: justify;
}
.about{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 40px;
    color:rgb(227, 21, 10);
    text-decoration: underline;
    text-align: center;

}


.g-text{
    font-family: "Roboto Slab", serif;
}
.marker{
    color:rgb(227, 21, 10);
    font-size: 1rem;
    font-weight: 550;
}

.class-3{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.quality{
    font-size: 2rem ;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(229, 9, 9);
    margin: 20px 0px 0px 0px;
    text-decoration:underline
}
.quality-frame{
    display: flex;
    flex-direction: column;
    margin: 30px 0px 0px 0px;
    width: 170px;
    row-gap: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 600;
    
}

.frame:hover{
    color: rgba(244, 231, 88, 0.97);
    background-color: rgb(227, 21, 10);
    font-size: 20px;
}
 
@media(max-width:1025px){

    .picture{
        width: 70%;
        height: 240px;
    
    }
}

@media(max-width:992px){
    .about-me{
        height:450px;
        width:100%;
        display: flex;
    
    }
    
    .picture-me{
        flex:1.5;
        width:100%;
    }
    
    .picture{
        width: 60%;
        height: 200px;
    
    }
    
    .text{
        flex:3;
        font-size: .65rem;
        margin: 0px 20px 0px 0px;
        padding:0px 0px 0px 0px;
        text-align: justify;
    }
    .about{
        font-family: 'Times New Roman', Times, serif;
        font-weight: 500;
        font-size: 2.5rem;
        color:rgb(227, 21, 10);
        text-decoration: underline;
        margin: 10px 0px 0px 0px;
        padding:0px 0px 0px 0px;
    }
      
    .g-text{
        font-family: "Roboto Slab", serif;
        margin-top: 20px;
        font-size: .72rem;
    }
    .marker{
        color:rgb(227, 21, 10);
        font-size: .65rem;
        font-weight: 550;
    }
    .quality{
        font-size: 2rem ;
        font-family: 'Times New Roman', Times, serif;
        color:rgb(229, 9, 218);
        text-decoration:underline;
    }
    .quality-frame{
        width: 20%;
        row-gap: 10px;
        font-size: 1rem;
        font-weight: 600;
        
    }
    
}

@media(max-width:769px){
    .about-me{
        height:500px;
        width:100%;
        display: flex;
    
    }
    
    .picture-me{
        flex:1.5;
        width:100%;
    }
    
    .picture{
        width: 80%;
        height: 220px;
    
    }
    
    .text{
        flex:3;
        font-size: .65rem;
        margin: 0px 20px 0px 0px;
        padding:0px 0px 0px 0px;
        text-align: justify;
    }
    .about{
        font-family: 'Times New Roman', Times, serif;
        font-weight: 500;
        font-size: 2.5rem;
        color:rgb(227, 21, 10);
        text-decoration: underline;
        margin: 10px 0px 0px 0px;
        padding:0px 0px 0px 0px;
    }
      
    .g-text{
        font-family: "Roboto Slab", serif;
        margin-top: 20px;
        font-size: .72rem;
    }
    .marker{
        color:rgb(227, 21, 10);
        font-size: .65rem;
        font-weight: 550;
    }
    .quality{
        font-size: 2rem ;
        font-family: 'Times New Roman', Times, serif;
        color:rgb(229, 9, 218);
        text-decoration:underline;
    }
    .quality-frame{
        width: 20%;
        row-gap: 10px;
        font-size: 1rem;
        font-weight: 600;
        
    }
    
}

@media(max-width:566px){
    .about-me{
        height:1200px;
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 40px 0px 0px 0px;
    
    }
    
    .picture-me{
        flex:1;
        width:50%;
        height:210px;
        border-radius: 20%;
        margin: 0px 0px 70px 0px;
    }
    
    .picture{
        width:100%;
        height:100%;
        object-fit:cover;
        object-position:top;
        border-style: solid;
        border-color: rgb(255, 255, 255);
        border-width: 2px;
        border-radius: 20%;
        box-shadow: 0px 0px 35px rgba(60,60,60, 0.997);;   
    }
    .picture:hover{
        border-style:solid;
        border-width: 2px;
        box-shadow: 0px 0px 35px rgba(255, 57, 7, 0.997);
        border-color: rgb(165, 0, 0);
        cursor:cell;
    }

    
    .text{
        flex:4;
        width: 90%;
        margin: 0px 0px 0px 0px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        margin: -150px 0px 0px 0px;
    }

    .about{
        text-align: center;
        font-size: 2rem;

    }
      
    .g-text{
        font-size: 1rem;
        margin: 30px 0px 0px 0px;
    }
    .marker{
        font-size: 1rem;
    }
    .class-3{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    .quality{
        font-size: 2rem ;
        font-family: 'Times New Roman', Times, serif;
        color:rgb(229, 9, 9);
        margin: 20px 0px 0px 0px;
        text-decoration:underline
    }
    .quality-frame{
        display: flex;
        flex-direction: column;
        margin: 30px 0px 0px 0px;
        width: 170px;
        row-gap: 10px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        font-weight: 600;
        
    }
    
    
}


@media(max-width:431px){
    .about-me{
        height:1200px;
        width:100%;
        margin: 40px 0px 0px 0px;
    
    }
    
    .picture-me{
        flex:1;
        width:50%;
        height:210px;
        border-radius: 20%;
        margin: 0px 0px 70px 0px;
    }
    
    .picture{
        width:100%;
        height:100%;
        border-width: 2px;
        border-radius: 20%;
    
    }
    
    .text{
        flex:5;
        width: 90%;
        margin: 0px 0px 0px 0px;

        margin: -50px 0px 0px 0px;
    }

    .about{
        font-size: 2rem;

    }
      
    .g-text{
        font-size: 1rem;
        margin: 30px 0px 0px 0px;
    }
    .marker{
        font-size: 1rem;
    }

    .quality{
        font-size: 2rem ;

    }
    .quality-frame{
        width: 50%;
        row-gap: 10px;
        font-size: 1rem;
        font-weight: 600;
        
    }
    
}


@media(max-width:426px){
    .about-me{
        height:1200px;
        width:100%;
        margin: 40px 0px 0px 0px;
    
    }
    
    .picture-me{
        flex:1;
        width:50%;
        height:210px;
        border-radius: 20%;
        margin: 0px 0px 70px 0px;
    }
    
    .picture{
        width:100%;
        height:100%;
        border-width: 2px;
        border-radius: 20%;
        box-shadow: 0 .5rem 1rem rgba(65, 65, 62, 0.5);
    
    }
    
    .text{
        flex:5;
        width: 90%;
        margin: 0px 0px 0px 0px;
        margin: -50px 0px 0px 0px;
    }

    .about{
        text-align: center;
        font-size: 2rem;

    }
      
    .g-text{
        font-size: 1rem;
        margin: 30px 0px 0px 0px;
    }

    
}

@media(max-width:413px){
    .about-me{
        height:1200px;
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 40px 0px 0px 0px;
    
    }
    
    .picture-me{
        flex:1;
        width:50%;
        height:210px;
        border-radius: 20%;
        margin: 0px 0px 70px 0px;
    }
    
    .picture{
        width:100%;
        height:100%;
        object-fit:cover;
        object-position:top;
        border-style: solid;
        border-color: rgb(255, 255, 255);
        border-width: 2px;
        border-radius: 20%;
        box-shadow: 0 .5rem 1rem rgba(65, 65, 62, 0.5);
    
    }
    
    .text{
        flex:5.5;
        width: 90%;
        margin: 0px 0px 0px 0px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        margin: -20px 0px 0px 0px;
    }

    .about{
        text-align: center;
        font-size: 1.8rem;

    }
      
    .g-text{
        font-size: 1rem;
        margin: 30px 0px 0px 0px;
    }
    .marker{
        font-size: 1rem;
    }

    
}

@media(max-width:391px){

    .about-me{
        height:1200px;
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 40px 0px 0px 0px;
    
    }
    
    .picture-me{
        flex:1;
        width:50%;
        height:210px;
        border-radius: 20%;
        margin: 0px 0px 70px 0px;
    }
    
    .picture{
        width:100%;
        height:100%;
        object-fit:cover;
        object-position:top;
        border-style: solid;
        border-color: rgb(255, 255, 255);
        border-width: 2px;
        border-radius: 20%;
        box-shadow: 0 .5rem 1rem rgba(65, 65, 62, 0.5);
    
    }
    
    .text{
        flex:5.5;
        width: 90%;
        margin: 0px 0px 0px 0px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        margin: -20px 0px 0px 0px;
    }

    .about{
        text-align: center;
        font-size: 1.8rem;

    }
      
    .g-text{
        font-size: 1rem;
        margin: 30px 0px 0px 0px;
    }
    .marker{
        font-size: 1rem;
    }


    
}

@media(max-width:376px){
    .about-me{
        height:1200px;
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 40px 0px 0px 0px;
    
    }
    
    .picture-me{
        flex:1;
        width:50%;
        height:190px;
        border-radius: 20%;
        margin: 0px 0px 70px 0px;
    }
    
    .picture{
        width:100%;
        height:100%;
        object-fit:cover;
        object-position:top;
        border-style: solid;
        border-color: rgb(255, 255, 255);
        border-width: 2px;
        border-radius: 20%;
        box-shadow: 0 .5rem 1rem rgba(65, 65, 62, 0.5);
    
    }
    
    .text{
        flex:5.5;
        width: 90%;
        margin: 0px 0px 0px 0px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        margin: -30px 0px 0px 0px;
    }

    .about{
        text-align: center;
        font-size: 1.8rem;

    }
      
    .g-text{
        font-size: .9rem;
        margin: 30px 0px 0px 0px;
    }
    .marker{
        font-size: 1rem;
    }


    
}

@media(max-width:321px){
    .about-me{
        height:1200px;
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 40px 0px 0px 0px;
    
    }
    
    .picture-me{
        flex:1;
        width:40%;
        height:170px;
        border-radius: 20%;
        margin: 0px 0px 70px 0px;
    }
    
    .picture{
        width:100%;
        height:100%;
        object-fit:cover;
        object-position:top;
        border-style: solid;
        border-color: rgb(255, 255, 255);
        border-width: 2px;
        border-radius: 20%;
        box-shadow: 0 .5rem 1rem rgba(65, 65, 62, 0.5);
    
    }
    
    .text{
        flex:5.5;
        width: 90%;
        margin: 0px 0px 0px 0px;
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 0px 0px 0px 0px;
    }

    .about{
        text-align: center;
        font-size: 1.3rem;

    }
      
    .g-text{
        font-size: .7rem;
        margin: 30px 0px 0px 0px;
    }
    .marker{
        font-size: .7rem;
    }


    
}