
.direction{
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: -10px;
    width:100%;
    animation:explore-slide;
    animation-duration: 1.5s
}

@keyframes explore-slide{
    from{transform: translateY(300px)}

}
.direction-items{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
}

.explore{
    flex:1;
    font-size: 2rem;
    margin-bottom: -10px;
    font-family: 'Times New Roman', Times, serif;
    color:purple;


}

.sign{
    flex:1;
    font-size: 3rem;
    margin-bottom: -17px;
    margin-right:20px;
    animation: sign-color-change;
    animation-duration: 1.5s;
}

@keyframes sign-color-change{
    0%{color:red}
    25%{color:purple}
    50%{color:blue}
    75%{color:green}
    100%{color:rgb(29, 31, 33)}

}

.container-grid1{
    display:grid;
    border:none;
    grid-template-columns: 1fr 1fr;
    row-gap: 50px;
    column-gap: -100px;
    align-content: start;
    justify-items: center;
    height:2000px;
    width:100%;
    margin: 50px 0px 0px 0px   

}
.grid-box1{
    height:400px;
    width:70%;
    border-color:rgb(0, 0, 0);
    border-width: 1.5px;
    border-style: solid;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    animation:grid-slide;
    animation-duration: 1.5s

}
.grid-box1:hover{
    border-color:rgb(252, 25, 0);
    border-width: 3px;
    border-style: solid;
    box-shadow: 0px 0px 30px rgba(252, 25, 0, 0.5);
    animation:grid-slide;
    animation-duration: 1.5s

}

@keyframes grid-slide{
    from{transform: translatey(300px)}

}

.grid-image1{
    height: 280px;
    width: 100%;
    background-color: black;

}

.title{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    font-size: 160%;
    color: rgb(55, 7, 245);
}
.source1{
    height: 30px;
    background-color: rgba(5, 181, 60, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    
}
.grid-write1{  
    height: 90px;
    width:100%;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    background-color: rgba(5, 181, 60, 0.1);
    text-align: justify;
    align-content: center;
    border-bottom: 1px solid black;
    

}
.written1{
    margin: 2px 5px 5px 2px;
}
.Image1{
    width: 100%;
    height: 100%;
    object-fit:cover;
    
}

.link-blog{
    color: black;
    cursor: pointer;
    text-decoration: none;
}
.link-blog:hover{
    color: rgb(254, 4, 4);
    font-size: 700;
    cursor: pointer;
    text-decoration:underline;
}
.link-blog:active{
    color: rgb(2, 14, 251);
    font-size: 700;
    text-decoration:underline;
}

@media(max-width:1600px){
    
    .direction{
        width:100%;
        margin:-10px 0px 20px 0px
    }
    
    
    .direction-items{
        width:100%;
    }
    
    .explore{
        flex:1;
        font-size: 2rem;
        margin:0px 0px -10px 0px
    }
    
    .sign{
        flex:1;
        font-size: 3rem;
        margin:0px 20px -17px 0px
    }
    
    .container-grid1{
        row-gap: 50px;
        column-gap: -100px;
        height:2000px;
        width:100%;
        margin: 50px 0px 0px 0px   
    }
    
.grid-box1{
    height:400px;
    width:70%;
}

.grid-image1{
    height: 250px;
    width: 100%;
    background-color: black;

}


.grid-write1{  
    height: 120px;
    width:100%;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    background-color: rgba(5, 181, 60, 0.1);
    text-align: justify;
    align-content: center;
    border-bottom: 1px solid black;
    

}
.written1{
    margin: 2px 5px 5px 2px;
}
    
    .Image1{
        width: 100%;
        height: 100%;    
    }
        
}

@media(max-width:1025px){
    
    .direction{
        width:100%;
        margin:-10px 0px 20px 0px
    }
    
    
    .direction-items{
        width:100%;
    }
    
    .explore{
        flex:1;
        font-size: 2rem;
        margin:0px 0px -10px 0px
    }
    
    .sign{
        flex:1;
        font-size: 3rem;
        margin:0px 20px -17px 0px
    }
    
    .container-grid1{
        row-gap: 50px;
        column-gap: -100px;
        height:2000px;
        width:100%;
        margin: 50px 0px 0px 0px   
    }
    
    .grid-box1{
        height:300px;
        width:80%;
    
    }
    
    .grid-image1{
        height: 200px;
        width: 100%;
    
    }
    
    .source1{
        height: 30px;
        font-size: 1rem;
        font-weight: 700;
    }
    
    .grid-write1{  
        height: 70px;
        width:100%;
        font-size: .75rem;
        font-weight: 600;
    
    }
    
    .written1{
        margin: 1px 5px 1px 5px;
    }
    
    .Image1{
        width: 100%;
        height: 100%;    
    }
        
}

@media(max-width:992px){
    
    .direction{
        width:100%;
        margin:-10px 0px 20px 0px
    }
    
    
    .direction-items{
        width:100%;
    }
    
    .explore{
        flex:1;
        font-size: 2rem;
        margin:0px 0px -10px 0px
    }
    
    .sign{
        flex:1;
        font-size: 3rem;
        margin:0px 20px -17px 0px
    }
    
    .container-grid1{
        row-gap: 50px;
        column-gap: -100px;
        height:2000px;
        width:100%;
        margin: 50px 0px 0px 0px   
    }
    
    .grid-box1{
        height:320px;
        width:80%;
    
    }
    
    .grid-image1{
        height: 200px;
        width: 100%;
    
    }
    
    .source1{
        height: 30px;
        font-size: 1rem;
        font-weight: 700;
    }
    
    .grid-write1{  
        height: 90px;
        width:100%;
        font-size: .75rem;
        font-weight: 600;
    
    }
    
    .written1{
        margin: 1px 5px 1px 5px;
    }
    
    .Image1{
        width: 100%;
        height: 100%;    
    }
        
}


@media(max-width:769px){
    
    .direction{
        width:100%;
        margin:-10px 0px 20px 0px
    }
    
    
    .direction-items{
        width:100%;
    }
    
    .explore{
        flex:1;
        font-size: 2rem;
        margin:0px 0px -10px 0px
    }
    
    .sign{
        flex:1;
        font-size: 3rem;
        margin:0px 20px -17px 0px
    }
    

    .container-grid1{
        row-gap: 50px;
        column-gap: -100px;
        height:2000px;
        width:100%;
        margin: 50px 0px 0px 0px   
    }
    
    .grid-box1{
        height:300px;
        width:80%;
    
    }
    
    .grid-image1{
        height: 200px;
        width: 100%;
    
    }
    
    .source1{
        height: 30px;
        font-size: 1rem;
        font-weight: 700;
    }
    
    .grid-write1{  
        height: 70px;
        width:100%;
        font-size: .5rem;
        font-weight: 600;
    
    }
    
    .written1{
        margin: 1px 5px 1px 5px;
    }
    
    .Image1{
        width: 100%;
        height: 100%;    
    }
        
}


@media(max-width:566px){
    
    .direction{
        width:100%;
        margin:-10px 0px 20px 0px
    }
    
    
    .direction-items{
        width:100%;
    }
    
    .explore{
        flex:1;
        font-size: 1.5rem;
        margin:0px 0px -10px 0px
    }
    
    .sign{
        flex:1;
        font-size: 3rem;
        margin:0px 20px -17px 0px
    }

  
    .container-grid1{
        display:grid;
        border:none;
        grid-template-columns: 1fr;
        row-gap: 50px;
        column-gap: -100px;
        height:2000px;
        width:100%;
        margin: 50px 0px 0px 0px   
    }
    
    .grid-box1{
        height:260px;
        width:60%;
    
    }
    
    .grid-image1{
        height: 160px;
        width: 100%;
    
    }
    
    .source1{
        height: 20px;
        font-size: 1rem;
        font-weight: 700;
    }
    
    .grid-write1{  
        height: 80px;
        width:100%;
        font-size: .6rem;
        font-weight: 600;
    
    }
    
    .written1{
        margin: 1px 2px 1px 2px;
    }
    
    .Image1{
        width: 100%;
        height: 100%;    
    }
        
}


@media(max-width:431px){   
    .direction{
        width:100%;
        margin:-10px 0px 20px 0px
    }
    
    
    .direction-items{
        width:100%;
    }
    
    .explore{
        flex:1;
        font-size: 1.5rem;
        margin:0px 0px -10px 0px
    }
    
    .sign{
        flex:1;
        font-size: 3rem;
        margin:0px 20px -17px 0px
    }
     
    .container-grid1{
        row-gap: 50px;
        height:2000px;
        width:100%;
        margin: 50px 0px 0px 0px   
    }
    
    .grid-box1{
        height:260px;
        width:65%;
    
    }
    
    .grid-image1{
        height: 160px;
        width: 100%;
    
    }
    
    .source1{
        height: 20px;
        font-size: 1rem;
        font-weight: 700;
    }
    
    .grid-write1{  
        height: 80px;
        width:100%;
        font-size: .6rem;
        font-weight: 600;
    
    }
    
    .written1{
        margin: 1px 2px 1px 2px;
    }
    
    .Image1{
        width: 100%;
        height: 100%;    
    }
        
}


@media(max-width:426px){
    .direction{
        width:100%;
        margin:-10px 0px 20px 0px
    }
    
    
    .direction-items{
        width:100%;
    }
    
    .explore{
        flex:1;
        font-size: 1.5rem;
        margin:0px 0px -10px 0px
    }
    
    .sign{
        flex:1;
        font-size: 3rem;
        margin:0px 20px -17px 0px
    }
        
    .container-grid1{
        row-gap: 50px;
        column-gap: -100px;
        height:2000px;
        width:100%;
        margin: 50px 0px 0px 0px   
    }
    
    .grid-box1{
        height:260px;
        width:65%;
    
    }
    
    .grid-image1{
        height: 155px;
        width: 100%;
    
    }
    
    .source1{
        height: 20px;
        font-size: 1rem;
        font-weight: 700;
    }
    
    .grid-write1{  
        height: 85px;
        width:100%;
        font-size: .6rem;
        font-weight: 600;
    
    }
    
    .written1{
        margin: 1px 2px 1px 2px;
    }
    
    .Image1{
        width: 100%;
        height: 100%;    
    }
        
}

@media(max-width:413px){   
    .direction{
        width:100%;
        margin:-10px 0px 20px 0px
    }
    
    
    .direction-items{
        width:100%;
    }
    
    .explore{
        flex:1;
        font-size: 1.5rem;
        margin:0px 0px -10px 0px
    }
    
    .sign{
        flex:1;
        font-size: 3rem;
        margin:0px 20px -17px 0px
    }
 
    .container-grid1{
        row-gap: 50px;
        column-gap: -100px;
        height:2000px;
        width:100%;
        margin: 50px 0px 0px 0px   
    }
    
    .grid-box1{
        height:260px;
        width:68%;
    
    }
    
    .grid-image1{
        height: 155px;
        width: 100%;
    
    }
    
    .source1{
        height: 20px;
        font-size: 1rem;
        font-weight: 700;
    }
    
    .grid-write1{  
        height: 85px;
        width:100%;
        font-size: .6rem;
        font-weight: 600;
    
    }
    
    .written1{
        margin: 1px 2px 1px 2px;
    }
    
    .Image1{
        width: 100%;
        height: 100%;    
    }
        
}


@media(max-width:391px){ 
    .direction{
        width:100%;
        margin:-10px 0px 20px 0px
    }
    
    
    .direction-items{
        width:100%;
    }
    
    .explore{
        flex:1;
        font-size: 1.5rem;
        margin:0px 0px -10px 0px
    }
    
    .sign{
        flex:1;
        font-size: 3rem;
        margin:0px 20px -17px 0px
    }
      
    .container-grid1{
        row-gap: 50px;
        column-gap: -100px;
        height:2000px;
        width:100%;
        margin: 50px 0px 0px 0px   
    }
    
    .grid-box1{
        height:260px;
        width:68%;
    
    }
    
    .grid-image1{
        height: 155px;
        width: 100%;
    
    }
    
    .source1{
        height: 20px;
        font-size: 1rem;
        font-weight: 700;
    }
    
    .grid-write1{  
        height: 85px;
        width:100%;
        font-size: .6rem;
        font-weight: 600;
    
    }
    
    .written1{
        margin: 1px 2px 1px 2px;
    }
    
    .Image1{
        width: 100%;
        height: 100%;    
    }
        
}

@media(max-width:376px){
    .direction{
        width:100%;
        margin:-10px 0px 20px 0px
    }
    
    
    .direction-items{
        width:100%;
    }
    
    .explore{
        flex:1;
        font-size: 1.5rem;
        margin:0px 0px -10px 0px
    }
    
    .sign{
        flex:1;
        font-size: 3rem;
        margin:0px 20px -17px 0px
    }
    

    .container-grid1{
        row-gap: 50px;
        column-gap: -100px;
        height:2000px;
        width:100%;
        margin: 50px 0px 0px 0px   
    }
    
    .grid-box1{
        height:260px;
        width:70%;
    
    }
    
    .grid-image1{
        height: 155px;
        width: 100%;
    
    }
    
    .source1{
        height: 20px;
        font-size: 1rem;
        font-weight: 700;
    }
    
    .grid-write1{  
        height: 85px;
        width:100%;
        font-size: .6rem;
        font-weight: 600;
    
    }
    
    .written1{
        margin: 1px 2px 1px 2px;
    }
    
    .Image1{
        width: 100%;
        height: 100%;    
    }
        
}


@media(max-width:321px){ 
    .direction{
        width:100%;
        margin:-10px 0px 20px 0px
    }
    
    
    .direction-items{
        width:100%;
    }
    
    .explore{
        flex:1;
        font-size: 1.5rem;
        margin:0px 0px -10px 0px
    }
    
    .sign{
        flex:1;
        font-size: 3rem;
        margin:0px 20px -17px 0px
    }
    
    .container-grid1{
        row-gap: 50px;
        column-gap: -100px;
        height:2000px;
        width:100%;
        margin: 50px 0px 0px 0px   
    }
    
    .grid-box1{
        height:260px;
        width:70%;
    
    }
    
    .grid-image1{
        height: 155px;
        width: 100%;
    
    }
    
    .source1{
        height: 20px;
        font-size: 1rem;
        font-weight: 700;
    }
    
    .grid-write1{  
        height: 85px;
        width:100%;
        font-size: .5rem;
        font-weight: 600;
    
    }
    
    .written1{
        margin: 1px 2px 1px 2px;
    }
    
    .Image1{
        width: 100%;
        height: 100%;    
    }
        
}
