
.resume-container{
    display:flex;
    width: 100%;
    height: auto;
    margin: 150px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    justify-content: center;
    
}

.resume{
    border-width: 4px;
    border-color: rgb(0, 0, 0);
    border-style:double;
    width:50%;
    height: auto;
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.997);   
}
.resume:hover{
    border-style:solid;
    border-width: 2px;
    box-shadow: 0px 0px 35px rgba(242, 51, 12, 0.997);
    border-color: rgb(242, 51, 12);
    cursor:cell;
}


@media(max-width:769px){  
    .resume-container{
        display:flex;
        width: 100%;
        height: 750px;
        margin: 100px 0px 0px 0px;
        padding:0px 0px 0px 0px;
        justify-content: center;
        
    }
    
    .resume{
        border-width: 4px;
        border-color: rgb(69, 68, 68);
        border-style:double;
        width:70%;
        height: 100%;
        box-shadow: 0px 0px 20px rgba(240, 76, 76, 0.997);
  
    }

}  

@media(max-width:566px){
  
    .resume-container{
        display:flex;
        width: 100%;
        height: 700px;
        margin: 80px 0px 0px 0px;
        padding:0px 0px 0px 0px;
        justify-content: center;
        
    }
    
    .resume{
        border-width: 4px;
        border-color: rgb(69, 68, 68);
        border-style:double;
        width:80%;
        height: 100%;
        box-shadow: 0px 0px 20px rgba(240, 76, 76, 0.997);
    
        
    }

} 

@media(max-width:431px){ 
    .resume-container{
        display:flex;
        width: 100%;
        height: 500px;
        margin: 80px 0px 0px 0px;
        padding:0px 0px 0px 0px;
        justify-content: center;
        
    }
    
    .resume{
        border-width: 4px;
        border-color: rgb(69, 68, 68);
        border-style:double;
        width:80%;
        height: 100%;
        box-shadow: 0px 0px 20px rgba(240, 76, 76, 0.997);
    
        
    }
} 

@media(max-width:426px){

    .resume-container{
        display:flex;
        width: 100%;
        height: 500px;
        margin: 80px 0px 0px 0px;
        padding:0px 0px 0px 0px;
        justify-content: center;
        
    }
    
    .resume{
        border-width: 4px;
        border-color: rgb(69, 68, 68);
        border-style:double;
        width:80%;
        height: 100%;
        box-shadow: 0px 0px 20px rgba(240, 76, 76, 0.997);
    
        
    }

} 


@media(max-width:413px){

    .resume-container{
        display:flex;
        width: 100%;
        height: 500px;
        margin: 70px 0px 0px 0px;
        padding:0px 0px 0px 0px;
        justify-content: center;
        
    }
    
    .resume{
        border-width: 4px;
        border-color: rgb(69, 68, 68);
        border-style:double;
        width:80%;
        height: 100%;
        box-shadow: 0px 0px 20px rgba(240, 76, 76, 0.997);
    
        
    }
 
} 


@media(max-width:391px){
  
    .resume-container{
        display:flex;
        width: 100%;
        height: 450px;
        margin: 70px 0px 0px 0px;
        padding:0px 0px 0px 0px;
        justify-content: center;
        
    }
    
    .resume{
        border-width: 4px;
        border-color: rgb(69, 68, 68);
        border-style:double;
        width:80%;
        height: 100%;
        box-shadow: 0px 0px 20px rgba(240, 76, 76, 0.997);
    
        
    }
 
} 

@media(max-width:376px){
    
    .resume-container{
        display:flex;
        width: 100%;
        height: 450px;
        margin: 70px 0px 0px 0px;
        padding:0px 0px 0px 0px;
        justify-content: center;
        
    }
    
    .resume{
        border-width: 4px;
        border-color: rgb(69, 68, 68);
        border-style:double;
        width:80%;
        height: 100%;
        box-shadow: 0px 0px 20px rgba(240, 76, 76, 0.997);
    
        
    }
 
} 

@media(max-width:321px){

    .resume-container{
        display:flex;
        width: 100%;
        height: 350px;
        margin: 60px 0px 0px 0px;
        padding:0px 0px 0px 0px;
        justify-content: center;
        
    }
    
    .resume{
        border-width: 4px;
        border-color: rgb(69, 68, 68);
        border-style:double;
        width:80%;
        height: 100%;
        box-shadow: 0px 0px 20px rgba(240, 76, 76, 0.997);
    
        
    }
 
} 