
.welcome{
    display: flex;
    color:rgb(18, 17, 17);
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size:2rem ;
    margin-top:20px;
    animation-name: color-change;
    animation-duration: 1.45s;

}

@keyframes color-change{
    0%{color:red}
    25%{color:purple}
    50%{color:blue}
    75%{color:green}
    100%{color:rgb(29, 31, 33)}

}
.welcome1{
    animation-name: slideleft;
    animation-duration: 1.45s;
}
@keyframes slideleft{
    from{transform: translateX(-300px)}

}

 .hey{
    margin-right: 10px;
    font-size: 2.5rem;
    color: purple;
    animation-name: slideleft;
    animation-duration: 1.45s;
    z-index:-110;
}


.container-grid{
    display:grid;
    grid-template-columns: 1fr ;
    justify-self: center;
    justify-items: center;
    height:auto;
    width:70%;
    row-gap:50px;
    margin:25px 0px 0px 0px;
}

.grid-box{
    display: flex;
    flex-direction: column;
    height:450px;
    width:60%;
    border-color: rgb(rgb(0, 0, 0));
    border-style:groove;
    border-width: 1px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
    animation:grid-slide;
    animation-duration: 1.5s

}

@keyframes grid-slide{
    from{transform: translatey(300px)}
}   

.grid-image{
    height: 300px;
    width: 100%;
}
.grid-write{  
    height: 150px;
    width:100%;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    align-content: center;
    color:rgb(247, 83, 58);
    background-color:  rgba(247, 83, 58, 0.1);
}
.title{
    margin: 0px 0px 0px 0px;
    padding: -10px 0px 0px 0px;
    text-align: center;
    font-size: 160%;
    color: rgb(245, 7, 7);
}
.written{
    margin: 2px 5px 2px 5px;
}

.link-blog{
    color: black;
    cursor: pointer;
    text-decoration: none;
}
.link-blog:hover{
    font-size: 700;
    color: rgb(255, 3, 3);
    cursor: pointer;
    text-decoration:underline;
}
.link-blog:active{
    font-size: 700;
    color: rgb(255, 6, 234);
    text-decoration:underline;
}


.Image{
    width: 100%;
    height: 100%;
    object-fit:cover;
    
}

@media(max-width:1025px){
    .welcome{
        font-size:1.5rem ;
    }
    .hey{
        font-size: 1.75rem;
    }
    .container-grid{
        display:grid;
        grid-template-columns: 1fr ;
        justify-self: center;
        justify-items: center;
        row-gap: 50px;
        height:auto;
        width:70%;
        margin:35px 0px 0px 0px; 
    }
    .grid-box{
        height:450px;
        width:75%;
    
    }
    .grid-image{
        height: 300px;
        width: 100%;
    }
    .grid-write{  
        height: 150px;
        width:100%;
        font-size: 1rem;
        font-weight: 600;
    }

}


@media(max-width:992px){

    .welcome{
        font-size:1.5rem ;
        margin:20px 0px 0px 0px
    
    }

    .hey{
        margin-right: 10px;
        font-size: 1.75rem;

    }

    .container-grid{
        display:grid;
        grid-template-columns: 1fr ;
        justify-self: center;
        justify-items: center;
        row-gap: 50px;
        height:auto;
        width:70%;
        margin:35px 0px 0px 0px; 
    }
    .grid-box{
        height:350px;
        width:75%;
    
    }
    .grid-image{
        height: 225px;
        width: 100%;
    }
    .grid-write{  
        height: 125px;
        width:100%;
        font-size: .9rem;
        font-weight: 600;
    }
    .written{
        margin: 2px 5px 2px 5px;
    }   
}



@media(max-width:769px){

    .welcome{
        font-size:1.25rem ;
    }
    .hey{
        font-size: 1.5rem;
    }

    .container-grid{
        display:grid;
        grid-template-columns: 1fr ;
        justify-self: center;
        justify-items: center;
        row-gap: 50px;
        height:auto;
        width:70%;
        margin:35px 0px 0px 0px; 
    }
    .grid-box{
        height:350px;
        width:75%;
    
    }
    .grid-image{
        height: 225px;
        width: 100%;
    }
    .grid-write{  
        height: 125px;
        width:100%;
        font-size: .8rem;
        font-weight: 600;
    }
    .written{
        margin: 2px 5px 2px 5px;
    }   
}


@media(max-width:566px){

    .welcome{
        font-size:1.25rem ;
    }
    .hey{
        font-size: 1.5rem;
    }

    .container-grid{
        row-gap: 50px;
        height:auto;
        width:100%;
        margin:35px 0px 0px 0px; 
        
     }
    .grid-box{
        height:350px;
        width:60%;
        margin: 0px 0px 0px 0px;
    }
    .grid-image{
        height: 225px;
        width: 100%;
    }
    .grid-write{  
        height: 125px;
        width:100%;
        font-size: .7rem;
        font-weight: 600;
    }
    .written{
        margin: 2px 5px 2px 5px;
    }   
}


@media(max-width:431px){
    .welcome{
        font-size:1.25rem ;
    }
    .hey{
        font-size: 1.5rem;
    }

    .container-grid{
        row-gap: 50px;
        height:auto;
        width:100%;
        margin:35px 0px 0px 0px;   
        
     }
    .grid-box{
        height:300px;
        width:65%;
        margin: 0px 0px 0px 0px;
    }
    .grid-image{
        height: 200px;
        width: 100%;
    }
    .grid-write{  
        height: 100px;
        width:100%;
        font-size: .65rem;
        font-weight: 600;
    }
    .written{
        margin: 2px 5px 2px 5px;
    }   
}


@media(max-width:426px){
    .welcome{
        font-size:1.1rem ;
    }
    .hey{
        font-size: 1.25rem;
    }

    .container-grid{
        row-gap: 50px;
        height:auto;
        width:100%;
        margin:35px 0px 0px 0px;  
        
     }
    .grid-box{
        height:300px;
        width:65%;
        margin: 0px 0px 0px 0px;
    }
    .grid-image{
        height: 200px;
        width: 100%;
    }
    .grid-write{  
        height: 100px;
        width:100%;
        font-size: .65rem;
        font-weight: 600;
    }
    .written{
        margin: 2px 5px 2px 5px;
    }   
}


@media(max-width:413px){

    .welcome{
        font-size:1.1rem ;
    }
    .hey{
        font-size: 1.25rem;
    }

    .container-grid{
        row-gap: 50px;
        height:auto;
        width:100%;
        margin:35px 0px 0px 0px;  
        
     }
    .grid-box{
        height:300px;
        width:68%;
        margin: 0px 0px 0px 0px;
    }
    .grid-image{
        height: 200px;
        width: 100%;
    }
    .grid-write{  
        height: 100px;
        width:100%;
        font-size: .6rem;
        font-weight: 600;
    }
    .written{
        margin: 2px 5px 2px 5px;
    }   
}


@media(max-width:391px){

    .welcome{
        font-size:1rem ;
    }
    .hey{
        font-size: 1.15rem;
    }

    .container-grid{
        row-gap: 50px;
        height:auto;
        width:100%;
        margin:35px 0px 0px 0px;  
        
     }
    .grid-box{
        height:300px;
        width:68%;
        margin: 0px 0px 0px 0px;
    }
    .grid-image{
        height: 200px;
        width: 100%;
    }
    .grid-write{  
        height: 100px;
        width:100%;
        font-size: .6rem;
        font-weight: 600;
    }
    .written{
        margin: 2px 5px 2px 5px;
    }   
}


@media(max-width:376px){
    .welcome{
        font-size:1rem ;
    }
    .hey{
        font-size: 1.15rem;
    }

    .container-grid{
        row-gap: 50px;
        height:auto;
        width:100%;
        margin:35px 0px 0px 0px;  
        
     }
    .grid-box{
        height:300px;
        width:70%;
        margin: 0px 0px 0px 0px;
    }
    .grid-image{
        height: 200px;
        width: 100%;
    }
    .grid-write{  
        height: 100px;
        width:100%;
        font-size: .6rem;
        font-weight: 600;
    }
    .written{
        margin: 2px 5px 2px 5px;
    }   
}


@media(max-width:321px){

    .welcome{
        font-size:1rem ;
    }
    .hey{
        font-size: 1.15rem;
    }


    .container-grid{
        row-gap: 50px;
        height:auto;
        width:100%;
        margin:35px 0px 0px 0px; 
        
     }
    .grid-box{
        height:280px;
        width:70%;
        margin: 0px 0px 0px 0px;
    }
    .grid-image{
        height: 180px;
        width: 100%;
    }
    .grid-write{  
        height: 100px;
        width:100%;
        font-size: .6rem;
        font-weight: 600;
    }
    .written{
        margin: 2px 5px 2px 5px;
    }   
}